# Raw and intermediate sequencing files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.sam

# Temporary depth/index files
*.depth.txt
bowtie2_index/
bam/
depth/

# R session/user files
.Rhistory
.RData
.Rproj.user/

# OS/editor
.DS_Store
Thumbs.db